{% extends "index.html" %}
{% block contenido %}
<main id="main">

  <!-- ======= Blog Header ======= -->
  <div class="header-bg page-area">
    <div class="container position-relative">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="slider-content text-center">
            <div class="header-bottom">
              <div class="layer2">
                <h1 class="title2">ABOUT</h1>
              </div>
              <div class="layer3">
                <h2 class="title3">Leonardo Ortiz</h2>
              </div>
              <div class="layer3">
                <h2 class="title3">Estudiante del Curso de Python en Coder House</h2>
              </div>
              <div class="layer3">
                <h2 class="title3">Contacto: leonobarg@gmail.com</h2>
              </div>
              <div class="layer3">
                <h2 class="title3">Proyecto final del curso</h2>
              </div>
              <div class="layer3">
                <h2 class="title3">Blog de series de todas las plataformas de streaming</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Blog Header -->

</main>
{% endblock %}
<!-- ======= Footer ======= -->